<% provide(:title, 'Tarefas') %>

<div class="well well-lg">

  <h1>Tarefas</h1>

</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Título</th>
      <th>Projeto Relacionado</th>
      <th>Conteúdo</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.project_id %></td>
        <td><%= task.content %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Tarefa', new_task_path %>
<%= link_to 'Ver Projetos', projects_path %>
