<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong><%= @task.completed ? "Completed" : "" %></strong>
  
</p>

<% unless @task.completed %>
	<%= form_tag(check_task_url(@task), method: "post") do %>
		<%= submit_tag("Tarefa Conluída") %>
	<% end %>
<% end %>

<p>
  <strong>Project:</strong>
  <%= Project.find(@task.project_id).nome %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>