<%= render 'errors' %>

<%= form_for(@project, :class => 'form') do |f| %>

    <div class="form-group">
      <%= f.label :name %>
      <br>
      <%= f.text_field :name, :class => 'form-control' %>

    </div>

    <%= f.submit :class => 'btn btn-primary', :value => t("helpers.submit.submit", model: t("activerecord.models.project")) %>

<% end %>
