<% if @project.errors.any? %>
    <% @project.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger">
          <%= msg %>
        </div>
    <% end %>
<% end %>

<%= form_for(@project, :class => 'form') do |f| %>

    <div class="form-group">
      <%= f.label :name %>
      <br>
      <%= f.text_field :name, :class => 'form-control' %>
    </div>

    <%= f.submit :class => 'btn btn-primary', :value => t(:submit, scope: [:helpers, :submit],  model: t(:project, scope: [:activerecord, :models])) %>

<% end %>
