<h1><%= t(:project, scope: [:activerecord, :models]).pluralize.capitalize %></h1>

<table class="table table-bordered table-hover">

  <thead>
  <tr>
    <th><%= t(:name, scope: [:activerecord, :attributes, :project]) %></th>
    <th><%= t(:status, scope: [:activerecord, :attributes, :project]) %></th>
    <th><%= t(:tasks, scope: [:activerecord, :attributes, :project]) %></th>
  </tr>
  </thead>

  <tbody>
  <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.status %></td>
        <% project.tasks.each do |task| %>
            <td><%= task.description %></td>
            <td><%= task.finalized %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>

</table>

<br>


<%= link_to t("helpers.submit.create", model: t("activerecord.models.project")), new_project_path, :class => 'btn btn-primary btn-lg' %>
