<h1><%= t(:project, scope: [:activerecord, :models]).pluralize.capitalize %></h1>
<%= link_to t("helpers.submit.create", model: t("activerecord.models.project")), new_project_path, :class => 'btn btn-primary btn-lg' %>
<br>

<% @projects.each do |project| %>
    <table class="table table-bordered table-hover">

      <thead>
      <tr>
        <th><%= t(:name, scope: [:activerecord, :attributes, :project]) %></th>
        <th><%= t(:status, scope: [:activerecord, :attributes, :project]) %></th>
        <th><%= t(:tasks, scope: [:activerecord, :attributes, :project]) %></th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td><%= link_to project.name, project %></td>
        <td><%= project.status %></td>
        <% project.tasks.each do |task| %>
            <td><%= task.description %></td>
            <td><%= task.finalized %></td>
        <% end %>
      </tr>
      </tbody>

    </table>

    <%= pluralize project.tasks.size, "task" %> |
    <%= link_to "Rename", edit_project_path(project) %> |
    <%= link_to "Destroy", project, method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>
