<% if notice %>
    <div class="alert alert-success">
      <%= notice %>
    </div>
<% end %>

<%= render 'errors' %>

<h1><%= @project.name %> (<%= @project.status %>)</h1>

<div id="project">
  <%= form_for(@project.tasks.build, :class => 'form') do |f| %>
      <%= f.hidden_field :project_id %>
      <%= f.text_field :description %>
      <%= f.submit %>
  <% end %>

  <h2><%= t("activerecord.models.task").pluralize.capitalize %> <%= t("activerecord.attributes.task.incomplete").pluralize %></h2>

  <div class="tasks" id="incomplete_tasks">
    <%= render @project.incomplete_tasks %>
  </div>

  <h2><%= t("activerecord.models.task").pluralize.capitalize %> <%= t("activerecord.attributes.task.complete").pluralize %></h2>

  <div class="tasks" id="complete_tasks">
    <%= render @project.complete_tasks %>
  </div>

  <br>


  <%= link_to t("helpers.submit.create", model: t("activerecord.models.project")), new_project_path, :class => 'btn btn-primary btn-lg' %>


  <%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', root_path %>