<% if @project.completed %>
    <div class="alert alert-success"><h3>Projeto Concluído!</h3></div>
<% else %>
    <h3>Projeto</h3>
<% end %>
<%= nested_form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div class="alert alert-error">
      <button class="close" data-dismiss="alert">×</button>
      <p><b><%= pluralize(@project.errors.count, "erro") %> não permitiu a criação do projeto:</b></p>
      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name %>
  </div>
    <label>Tarefas: </label>
    <%= f.fields_for :tasks %>
    <p><%= f.link_to_add "Adicionar Tarefa", :tasks, :class => 'btn btn-primary btn-large' %></p>
  <div class="actions">
    <%= f.submit 'Salvar', :class => 'btn btn-success btn-large'%>
  </div>
<% end %>
