<% provide(:title, 'Projetos') %>

<div class="well well-lg">

<h1>Projetos</h1>

</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th style="width:70%;">Name</th>
      <th style="width:10%;"></th>
      <th style="width:10%;"></th>
      <th style="width:10%;"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
