<h1>New project</h1>
  <%= form_for([@project, @project.tasks.build]) do |f| %>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', projects_path %>
