<p id="notice"><%= notice %></p>

<h1>
  <%= @project.nome %>
</h1>

<br>

<h2>Tarefas</h2>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @project.tasks.each do |task| %>
      <tr>
        <td><%= link_to task.description, task %></td>
       
        <td><%= task.completed ? "(finalizada)" : "" %>
          <% unless task.completed %>
            <%= form_tag(check_task_url(task), method: "post") do %>
              <%= submit_tag("Tarefa Conluída") %>
            <% end %>
          <% end %>
        </td>

        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'Nova Tarefa', new_task_project_path(@project) %> |
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
